<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    lang="ja">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Graph</title>

	<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/chartjs/2.8.0/Chart.min.css}" />
</head>
<body>
	<div class="container">
		<canvas id="chart"></canvas>
	</div>

	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/moment/2.24.0/min/moment.min.js}"></script>
	<script th:src="@{/webjars/chartjs/2.8.0/Chart.min.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/
    var data = /*[[${data}]]*/ [];
    $(function(){
        var ctx = $('#chart');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets : [
                    {
                        data :data
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                        },
                        ticks: {
                            source : 'data'
                        }
                    }]
                }
            }
        });
    });
	/*]]>*/
	</script> 
</body>
</html>
